# Lambda Functions

In [1]:
test=lambda x:x*2
test(5)

10

In [2]:
test (8)

16

In [3]:
test1add= lambda x,y : x+y
test1add(3,4)

7

In [4]:
m= lambda x,y,z : x+y+z
m(1,2,3)

6

In [5]:
square= lambda x : x**2
square(4)

16

In [6]:
sqroot = lambda x:x**(1/2)
sqroot(64)

8.0

In [7]:
sqroot(25)

5.0

In [8]:
cube = lambda x:x**3
cube(4)

64

In [9]:
cbroot= lambda x:x**(1/3)
cbroot(27)

3.0

In [11]:
addvar= lambda arg1,arg2 : arg1 + arg2
print ("the value of total:", addvar (5,10))
print ("the value of total:", addvar (30,40))

the value of total: 15
the value of total: 70

In [12]:
#Converting temperature in fahrenheit

def fahrenheit(T):
    return ((9/5)*T + 32)

In [14]:
f=fahrenheit(35)
f

95.0

In [16]:
#Converting temperature in Celsius

def celsius(T):
    return ((5/9)*(T-32))

In [17]:
ce=celsius(95)
ce

35.0

In [21]:
def testin():
    x=int(input("Enter x"))
    y=int(input("Enter y"))
    t=lambda x, y : x**y
    print(t(x,y))

In [22]:
testin()

Enter x4
Enter y5
1024

In [25]:
F = lambda x:((9/5)*x + 32);
F(38.4)

101.12

In [26]:
F = lambda x: ((5/9)*(x-32))
F(101.12)

38.400000000000006

Map in Lambda = it applies on list

In [27]:
mylist = [1,2,3,4]
map(lambda x:x*2, mylist)

In [28]:
list(map(lambda x:x*2, mylist))

[2, 4, 6, 8]

In [29]:
c=[35.2, 36.5, 37.3, 38,39.8]
F=list(map(lambda x: (9/5)*x + 32, c))
print(F)

[95.36000000000001, 97.7, 99.14, 100.4, 103.64]

In [30]:
c = list(map(lambda x: (5/9)*(x-32), F))
print(c)

[35.20000000000001, 36.5, 37.300000000000004, 38.00000000000001, 39.800000000000004]

In [31]:
newclist=[round(x,2) for x in c]
newclist

[35.2, 36.5, 37.3, 38.0, 39.8]

In [32]:
newlist = ['%.2f' % j for j in c]
newlist

['35.20', '36.50', '37.30', '38.00', '39.80']

# Filter in Lambda

In [33]:
mylist=[1,2,3,4,5,6,7]
list(filter(lambda x: x>2, mylist))

[3, 4, 5, 6, 7]

In [34]:
even = lambda x: x%2 ==0
list (filter(even, range(11)))

[0, 2, 4, 6, 8, 10]

In [35]:
for val in [10,20,25,45,60]:
    if val>25:
        break
    print(val)

10
20
25

In [36]:
for val in "stringexample":
    if val == "i":
        continue
    else:
        if val == "x":
            break
        print(val)
        
print("The end")

s
t
r
n
g
e
The end